// @file 颜色变量
// xy-UI颜色值
$l-main: #409EFF;
$l-success: #61C09F;
$l-warning: #F4C333;
$l-danger: #FA5555;

// xy-UI灰度颜色值
// @文本
$l-text-primary: #303133;
$l-text-regular: #606266;
$l-text-secondary: #909399;
$l-text-placeholder: #C0C4CC;
// @线框
$l-border-base: #DCDFE6;
$l-border-light: #E4E7ED;
$l-border-lighter: #EBEEF5;
$l-border-extra-light: #F2F6FC;
// @背景
$xy-background-dark: #58627A;
$xy-background-light: #F2F6FC;
$xy-background-white: #FFFFFF;
